<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona do rezerwacji sal</title>
    <style>
    </style>
</head>
<body>
    <header>
        <h1>Rezerwacja Sal</h1>
        <nav>
            <ul>
                <li><a href="lista_sal.html">Lista wszystkich sal</a></li>
                <li><a href="dodaj_sale.html">Dodaj nową salę</a></li>
            </ul>
        </nav>
    </header>

    <main>
    </main>

    <footer>
        <p>by Aleksander</p>
    </footer>
</body>
</html>
